In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://finance.yahoo.com/quote/FB/history?p=FB")[0]

In [3]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 15, 2021",247.90,253.86,247.16,251.36,251.36,24786100
1,"Jan 14, 2021",253.40,255.03,244.61,245.64,245.64,29739400
2,"Jan 13, 2021",251.55,253.95,249.20,251.64,251.64,19528900
3,"Jan 12, 2021",256.63,259.72,250.30,251.09,251.09,26449900
4,"Jan 11, 2021",260.48,263.47,255.90,256.84,256.84,30412300
...,...,...,...,...,...,...,...
96,"Aug 28, 2020",295.00,297.23,290.98,293.66,293.66,17157400
97,"Aug 27, 2020",300.16,301.23,292.02,293.22,293.22,30301300
98,"Aug 26, 2020",284.00,304.67,284.00,303.91,303.91,69015200
99,"Aug 25, 2020",272.41,283.09,270.26,280.82,280.82,42127200
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [5]:
df= df.drop([0,100])

In [6]:
df

            Date    Open    High     Low  Close* Adj Close**    Volume
1   Jan 14, 2021  253.40  255.03  244.61  245.64      245.64  29739400
2   Jan 13, 2021  251.55  253.95  249.20  251.64      251.64  19528900
3   Jan 12, 2021  256.63  259.72  250.30  251.09      251.09  26449900
4   Jan 11, 2021  260.48  263.47  255.90  256.84      256.84  30412300
5   Jan 08, 2021  268.31  268.95  263.18  267.57      267.57  18512500
..           ...     ...     ...     ...     ...         ...       ...
95  Aug 31, 2020  293.95  296.88  291.55  293.20      293.20  17345100
96  Aug 28, 2020  295.00  297.23  290.98  293.66      293.66  17157400
97  Aug 27, 2020  300.16  301.23  292.02  293.22      293.22  30301300
98  Aug 26, 2020  284.00  304.67  284.00  303.91      303.91  69015200
99  Aug 25, 2020  272.41  283.09  270.26  280.82      280.82  42127200

[99 rows x 7 columns]

In [7]:
df = df.astype({"Open":'float',
                "High":'float',
                "Low":'float',
                "Close*":'float',
                "Adj Close**":'float',
                "Volume":'float'})

In [8]:
df.corr()

                 Open      High       Low    Close*  Adj Close**    Volume
Open         1.000000  0.964727  0.956944  0.922272     0.922272  0.020835
High         0.964727  1.000000  0.959673  0.966704     0.966704  0.143249
Low          0.956944  0.959673  1.000000  0.965238     0.965238 -0.071694
Close*       0.922272  0.966704  0.965238  1.000000     1.000000  0.076033
Adj Close**  0.922272  0.966704  0.965238  1.000000     1.000000  0.076033
Volume       0.020835  0.143249 -0.071694  0.076033     0.076033  1.000000